<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_8_Puzzle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <_8_Puzzle.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>41, 53, 65</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>226, 28, 64</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe UI, 48pt</value>
            </setting>
            <setting name="SecForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SuggestedTileColor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="PossibleTilesColor" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
        </_8_Puzzle.Properties.Settings>
    </userSettings>
</configuration>